@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

html,
body,
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui;
}

h1 {
    font-family: "Playfair Display", serif;
}

a {
    text-decoration: none;
    color: white;
}

.button {
    background-color: #10552D;
    color: white;
    text-transform: uppercase;
    padding: 1rem 0.7rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-family: system-ui;
    font-weight: bold;
    font-weight: 500;
    font-size: 1rem;
}

input,
textarea,
select {
    font-size: 16px;
    line-height: 28px;
    padding: 8px 16px;
    width: 100%;
    min-height: 44px;
    border: unset;
    border-radius: 4px;
    outline-color: #10552D;
    background-color: #DADDD8;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}

section {
    display: flex;
    justify-content: center;
    align-self: center;
}